<nav>
    <h1>Hello ADMIN !</h1>
    <ul>
        <li><a href="{{ path('homepage') }}">Home</a> </li>
        <li><a href="{{ path('admin_product_index') }}" >Product List</a></li>
        <li><a href="{{ path('admin_product-category_index') }}">Category List</a> </li>
    </ul>
</nav>
